@import "Home.css";
@import "Header.css";
@import "Feed.css";
@import "HeaderOption.css";
@import "InputOption.css";
@import "Post.css";
@import "Sidebar.css";
@import "Login.css";
@import "Widgets.css";

html,
body {
  --linkedin-color: #0a66c2;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
}
